@tailwind base;
@tailwind components;
@tailwind utilities;



.hero-banner{
    background: url('/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}